@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.horizont__title
		&::after
			right: 2%
		&::before
			left: 2%
	.card__lake
		height: 340px
	.card__mountains
		height: 640px
	.card__content
		padding: 140px 50px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.horizont__title
		&::after
			display: none
		&::before
			display: none
	.DavidHope__content
		color: #fff
	.DavidHope__title
		&::after
			display: none
		&::before
			display: none
	.card__lake
		background-position: 0px -40px
		width: 57.2%
	.card__text
		width: 100%
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.header__logo
		margin-left: 20px
	.arrow-wrap
		margin-top: 190px
	.DavidHope
		background-position: 0px
	.card__lake
		background-position: center
	.card__forest
		width: 100%
	.card__bonfire
		width: 100%
		height: 500px
		background-position: -40px 0px
	.card__mountains
		width: 100%
		height: 400px
		background-position: 0px -30px
	.card__lake
		width: 100%
		height: 400px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.DavidHope
		margin-top: 150px
	.card__forest
		width: 100% 
	.card__bonfire
		width: 100%
		background-position: -140px 0px
	.card__mountains
		width: 100%
		background-position: center
		height: 400px
	.card__lake
		width: 100%
		height: 300px
	.card__content
		padding: 70px 50px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.arrow-wrap
		margin-top: 70px
	.card__forest
		width: 100%
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

